body {
  color: grey;
  font-family: sans-serif;
}

h1{
  text-align: center;
  background-color: purple;
  font-family: cursive;
}

p {
  text-align: center;
  margin-top: -20px;
}

li {
  font-size: 20px;
  text-decoration: underline;
  list-style-type: circle;
}
